
<div class="bg-gray-900 px-4 py-5 md:px-6 lg:px-8">
  <ul class="list-none p-0 m-0 flex align-items-center font-medium mb-3">
      <li>
          <a class="text-500 no-underline line-height-3 cursor-pointer">Application</a>
      </li>
      <li class="px-2">
          <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li>
          <a class="text-500 no-underline line-height-3 cursor-pointer">Customers</a>
      </li>
      <li class="px-2">
          <i class="pi pi-angle-right text-500 line-height-3"></i>
      </li>
      <li>
          <span class="text-white line-height-3">VIP Leads</span>
      </li>
  </ul>
  <div class="flex flex-column md:flex-row md:justify-content-between">
      <span class="text-3xl font-medium text-white">VIP LEADS</span>
      <div class="flex align-items-center mt-3 md:mt-0">
          <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input type="text" pInputText placeholder="Search" class="mr-3 bg-gray-800 border-gray-800" />
          </span>
          <button pButton pRipple icon="pi pi-user-plus" class="p-button-rounded"></button>
      </div>
  </div>
</div>
